{% extends 'base_layout.html' %}
{% block content %}
  <h1>
   “I choose a lazy person to do a hard job. Because a lazy person will find an easy way to do it.” 
  </h1>
  <h2
  style="color:grey;">Bill Gates
  </h2>
  <form class="site-form" action="/accounts/login/" method="post">
    {% csrf_token %}
    {{form}}
	{% if request.GET.next %}
	 <input type = "hidden" name="next" value="{{request.GET.next}}">
	 {% endif %}
 <input type="submit" value="Login"/>
  </form>
  <p>Wciąż nie masz konta?<a href="{% url 'accounts:signup' %}">Stwórz je więc!</a></p>
 
{% endblock %}